nav{
  background-color: mediumseagreen;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 60px;

  i {
      padding: 14px;
  }

  ul.links {
    display: none;
// mobile first using mixin
    @include sm {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      float: right;
    
      li{
        padding: 18px;
        font-size: 1.5em;
        font-weight: bold;

      }

    }

  }
}