.list {
  position: absolute;
  top: 110px;
  z-index: 0;
  width: 100vw;
}

.panel {
  position: absolute;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  .list {
    left: 265px;
    top: 60px;
    width: calc(100vw - 282px);
    // background-color: yellow;
  }
}
