@import "../../../variables.scss";
@import "../../../styles.scss";
@import "../../../mixins.scss";

.project-show-page {
    font-family: $font-family;

    header {
      padding: $base-spacing * 2  $base-spacing * 3;
      display: flex;
      flex-direction: column;

      .snapshot-and-title-wrapper {
        @include flex-row(space-between);
        flex-wrap: wrap;

        .snapshot-wrapper {
          @include flex-row(space-around);
          width: 50%;
          align-self: center;

          .diff-wrapper {
            align-self: center;
            @include flex-column(center);
            padding-top: $base-spacing;

            button {
              @include primary-button;
            }
          }

        }

        .breadcrumb-wrapper {
          align-self: flex-start;
        }
      }
    }

  h1 {
    font-size: 3em;
    padding:0px;
  }

  .summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: $base-spacing * 3;
    background-color: #EEEEEE;
    max-width: 100vw;

    @include md {
      flex-direction: column;
      width: 100%;
    }

    .notes {
      width: 45vw;

      @include md {
        width: 90%;
        margin-bottom: $base-spacing*2;
        margin-left: 0;
      }
    }

    .testing-status {
      width: 45vw;

      @include md {
        width: 90%;
        margin-right: 0;
      }
    }
  }

  .main-data {
    padding: $base-spacing * 2.5 0px;

    h2 {
      font-size: 2em;
      padding: 0px $base-spacing * 3 $base-spacing * 2 $base-spacing * 3;
    }

    .accordion {
      padding: 0 $base-spacing * 3;
      height: 400px;
      margin: auto auto;
    }

    .feature-header-wrapper {
      width: 95%;
      margin: auto auto;
      margin-bottom: 10px;
      @include flex-column(space-between);

      .feature-header-title-search {
        margin-bottom: $base-spacing;

        h2 {
          margin-bottom: $base-spacing;
          padding: 0;
        }
      }

      .feature-header-info-wrapper {
        @include flex-row(space-between);
        align-items: center;
        margin: 0 5px;
        width: 100%;

        .diff-wrapper {
          margin-top: $base-spacing * 0.7;

        }
      }
    }
  }
}

h4 {
  font-size: 1 * $base-font-size;
  align-self: flex-end;
  padding: $base-spacing 0 $base-spacing $base-spacing*3;
}
