@import "src/variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  height: $nav-height;
  font-size: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  h1 {
    padding-left: $base-spacing * 2;

    &:hover {
      cursor: pointer;
    }
  }

  .links {
    height: 100%;
    width: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    ul {
      width: 150px;
      position: fixed;
      top: $nav-height;
      right: 0;
      list-style-type: none;
      background-color: $primary-color;
      font-size: 0.65em;
      border-top: solid white 2px;
      text-align: center;

      li {
        padding: 5px;

        &:hover {
          background-color: yellow;
        }
      }
    }
  }
}
