@import "src/variables";

section {
  display: flex;
  height: 400px;

  img {
    height: 100%;
    width: 300px;
    margin-right: $base-spacing * 4;
  }

  div {
    * {
      font-size: 2em;
    }
  }
}
